.Contenedor{
display: grid;
grid-template-columns: 25% auto auto auto;
grid-template-rows: auto auto auto;
background-color: cornflowerblue;
}
.Cabecera,
.Referencias {
    grid-column-start: 1;
    grid-column-end: 5;
    
  }
.DatosPersonales img{
    height: 50%;
  width: 50%;

} 
img {
    height: 7%;
  width: 7%;
}
.Cabecera{
    background-color: rgb(71, 57, 148);
}
.DatosPersonales{
    background-color: rgb(100, 237, 118);
}
.EstudiosRealizados{
    background-color: rgb(100, 237, 225);
}
.Experiencia{
    background-color: rgb(194, 162, 34);
}
.Capacitaciones{
    background-color: rgb(42, 156, 139);
}
.Referencias{
    background-color: rgb(228, 71, 60);
}